---
import BlogCard from "@/components/BlogCard.astro";
import BlogCategories from "@/components/BlogCategories.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";

// get static paths for all categories
export async function getStaticPaths() {
  const BLOG_FOLDER = "blog";
  const categories = await getTaxonomy(BLOG_FOLDER, "categories");

  return categories.map((category) => {
    return {
      params: { category },
    };
  });
}

const { category } = Astro.params;

// get posts by category
const BLOG_FOLDER = "blog";
const posts = await getSinglePage(BLOG_FOLDER);
const filterByCategories = taxonomyFilter(posts, "categories", category!);
---

<Base title={"Posts " + category}>
  <section class="section p-14">
    <BlogCategories />

    <!-- blog posts -->
    <div class="container pt-14">
      <div class="row">
        {
          filterByCategories.map((post) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <BlogCard data={post} loading="eager" />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
